
hgroup {
	display:block;
}
h2 {
	margin-bottom:0;
	font-size:medium;
}
h1 {
	margin-top:0;
	margin-bottom:0;
}
h1 + p {
	margin-top:0;
}

svg {
	display:block;
}
svg text {
	padding:0.5em 1em 0.5em 1em;
}
#ui textarea {
	min-width:300px;
	vertical-align:middle;
	font-family:monospace;
	min-height:6em;
	/*@todo Auto size to fit content!*/
}


/** OLD **/
body {
	
}

svg {
	outline:solid 1px lime;
}
object {
	outline:solid 1px red;
}

.avm {
	
}

svg g, svg circle {
	font-size:15px;
}
svg circle {
	padding:10px;
}
svg rect {
	/*padding:30px;*/
}
body > .math {
	font-size:50px !important;
}
div.math {
	padding:0.5em; /*note: padding is not passed onto foreignObject */
}
foreignObject {
	/*padding:0.5em;*/
}
svg g g {
	/*font-size:0.8em;*/
}

svg text {
	padding:0.5em;
	/*dominant-baseline:bottom !important;*/
}

svg line {
	font-size:2em; /*height not honored here by WebKit*/
}

/*
svg > g > text + g > text {
	font-size:100px;
}
*/
/*
svg > g > text + g > line {
	font-size:100px;
}
*/