body {
	
}

svg {
	outline:solid 1px lime;
}
object {
	outline:solid 1px red;
}

.avm {
	
}

svg g {
	font-size:15px;
}
body > .math {
	font-size:50px !important;
}
div.math {
	padding:0.5em; /*note: padding is not passed onto foreignObject */
	
}
foreignObject {
	/*padding:0.5em;*/
}
svg g g {
	/*font-size:0.8em;*/
}

svg text {
	padding:0.5em;
}

svg line {
	font-size:2em; /*height not honored here by WebKit*/
}

/*
svg > g > text + g > text {
	font-size:100px;
}
*/
/*
svg > g > text + g > line {
	font-size:100px;
}
*/